@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";

h3 a {
  color: pink;
  text-decoration: underline;
}

h3 a:visited {
  color: pink;
  text-decoration: underline;
}

h3 a:hover {
  color: red;
  font-size: 2rem;
  text-decoration: underline;
}
